@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Big+Shoulders+Stencil+Display:wght@100..900&display=swap');

/* Selector universal */
*{
    padding: 0;
    margin: 0;
    /* propiedad para que no agregue mas px al tamanio total, sino que los sume para que de el total deseado */
    box-sizing: border-box;
}

body{
    font-family: "Big Shoulders Stencil Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#seleccionar-mascota{
    background-color: #89A8B2;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 50px;
}

.titulo{
    padding: 10px;
}

.subtitulo{
    margin: 30px;
}

.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjetas img{
    width: 80px;
}

.elegir-mascota{
    padding: 20px;
}

.caja-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F0E8;
    width: 100%;
    /* height: 80px; */
    margin: 5px;
    border: 1px solid #9AA6B2;

}

label{
    padding: 5px;
}

label:hover,
label:active{
    cursor: pointer;
    background-color: #f1f0e8ba;
}

label:active{
    background-color: #f1f0e8ba;
}

input{
    display: none;
}

button{
    margin: 10px;
}

button:hover{
    cursor: pointer;
}

#boton-mascota{
    background-color: #1F509A;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

#boton-mascota:hover{
    background-color: #1f509a7f;

}

body{
    margin: 0 auto;
}