@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Big+Shoulders+Stencil+Display:wght@100..900&display=swap');

/* Selector universal */
*{
    padding: 0;
    margin: 0;
    /* propiedad para que no agregue mas px al tamanio total, sino que los sume para que de el total deseado */
    box-sizing: border-box;
}

body{
    font-family: "Big Shoulders Stencil Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 16px;
    margin: 0 auto;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sub-containers{
    /* background-color: #608BC1; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    padding: 10px;
    background: url(./assets/background-nature-2.jpeg);
    background-size: cover;
    border-radius: 4px;
    opacity: .9;
}

.titulo{
    padding: 10px;
    font-size: 2.5rem;
}

.subtitulo{
    margin: 30px;
    font-size: 1.5rem;
}

.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjetas img{
    width: 80px;
}

.elegir-mascota{
    padding: 20px;
}

.caja-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    width: 180px;
    /* height: 80px; */
    margin: 5px;
    border: 1px solid #9AA6B2;
    border-radius: 7px;
    
    opacity: 0.8; /* Hace la imagen casi transparente */
    transition: all 0.3s ease; /* Suaviza la transición para efectos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra suave */
    border-radius: 10px; /* Bordes redondeados (opcional) */

}

label{
    padding: 5px;
    
}

label:hover{
    cursor: pointer;
    /* background-color: #AB886D; */
    color: black;
    transition: background-color 0.3s, color 0.3s;
    /* opacity: .9; */

    opacity: 1; /* Devuelve la imagen a su opacidad completa */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
    transform: scale(1.05); /* Efecto de aumento ligero */
}

/* Cambiar color cuando el label está seleccionado */
 input[type="radio"]:checked + label {
    opacity: 1; /* Devuelve la imagen a su opacidad completa */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
    transform: scale(1.05); /* Efecto de aumento ligero */
    border-color: white;
  }
    
input{
    display: none;
}

button{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-family: "Big Shoulders Stencil Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
}

button:hover{
    cursor: pointer;
}

.btn-general{
    width: 180px;
    background-color: #1f509a7f;
    
}

.btn-ataques{
    width: 140px;
    background-color: #1F509A;
}

.btn-general:hover{
    background-color: #1F509A;
}


/* #boton-mascota{
    background-color: #1F509A;
}

#boton-mascota:hover{
    background-color: #1f509a7f;

} */

p{
    font-size: 1.9rem;
    font-weight: 700;
}

.container-mensajes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #BCCCDC;
    width: 360px;
    padding: 10px;
    margin-top: 10px;
    opacity: .9;
    border-radius: 10px;
}

.div-resultado{
    display: flex;
    text-align: center;
}

#boton-reiniciar{
    padding: 10px;
    justify-content: center;
}

.botones-ataques{
    display: flex;
}

.ataques{
    display: grid;
    grid-template-columns: 200px 200px;
    justify-items: center;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
}

.numero-vidas{
    display: flex;
    justify-content: space-around;
    border: 4px dotted black;
}

#mascota-jugador,
#mascota-enemigo
{
    color: antiquewhite;
}

/* hasta 0-360px
Dispositivos moviles */
@media (max-width:360px) {
    .tarjetas{
        flex-direction: column;
    }
    .botones-ataques{
        flex-direction: column;
    }
}


