/* Selector universal */
*{
    padding: 0;
    margin: 0;
}

.contenedor {
    background-color: #F2F9FF;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.titulo{
    padding: 10px;
}

.elegir-mascota{
    padding: 20px;
}

label{
    padding: 5px;
}

button{
    margin: 10px;
}
button:hover{
    cursor: pointer;
}

body{
    margin: 0 auto;
}